<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${title}"></title>
</head>
<body>
<h1 data-th-text="${title}"></h1>
<table>
  <tr>
    <th>Id</th>
    <th>Time</th>
    <th>Customer</th>
    <th>Items</th>
  </tr>
  <tr data-th-each="order: ${orders}">
    <td data-th-text="${order.id}"></td>
    <td data-th-text="${order.time}"></td>
    <td data-th-text="${order.customer}"></td>
    <td>
      <ul data-th-each="item: ${order.items}">
        <li data-th-text="${item.product + ' ' + item.quantity + ' ' + item.unitPrice}"></li>
      </ul>
    </td>
  </tr>
</table>
</body>
</html>